<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
Get rails help at
<a href="http://railstutorial.org/help">Ruby on Rails Tutorial Help</a>
<br>Get help on the sample app at
<a href="http://railstutorial.org/book">Help for sample app</a>
</p>
